<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" 
                  arguments=".\SumandoValor.Web.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ConnectionStrings__DefaultConnection" value="Server=localhost;Database=SumandoValorDb;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=True;" />
          <environmentVariable name="Email:Smtp:Enabled" value="true" />
          <environmentVariable name="Email:Smtp:Host" value="goemairs.go.kworld.kpmg.com" />
          <environmentVariable name="Email:Smtp:Port" value="25" />
          <environmentVariable name="Email:Smtp:EnableSsl" value="false" />
          <environmentVariable name="Email:Smtp:UseDefaultCredentials" value="false" />
          <environmentVariable name="Email:Smtp:FromAddress" value="Ve-fmesgterminal@apprelay.kpmg.com" />
          <environmentVariable name="Email:Smtp:FromName" value="Sumando Valor" />
          <environmentVariable name="Email:ContactRecipient" value="fundacionkpmg@kpmg.com" />
          <environmentVariable name="Email:SendCertificateNotification" value="true" />
          <environmentVariable name="Captcha:Provider" value="Turnstile" />
          <environmentVariable name="Captcha:CloudflareTurnstile:SiteKey" value="" />
          <environmentVariable name="Captcha:CloudflareTurnstile:SecretKey" value="" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
